<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Congration Register Succefully </title>
<style>
	
	
	marquee {
    font-size: 24px;
    color: rgb(19, 14, 14);
    
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    
    width: 100%;
}
	
	
</style>
</head>
<body>


<marquee behavior="scroll" direction="left" scrollamount="20">
     <h1 style="color: rgb(255, 0, 0);">Congraulation  Succesfully Register Your Apointment Book Succesfully! Our Team you Conatct Soon!</h1>    
    </marquee>

</body>
</html>